

$headerHeight     = 44px
$cellHeight       = 44px

$hourWidth        = 60px

$color            = #EEE
$backgroundColor  = rgba(#555, .8)
$borderColor      = #AAA
$borderColorSmall = #BBB

.nx-calendar
  color           $color
  border          1px solid $borderColor
  background      $backgroundColor
  table-layout    fixed
  position        relative

  thead
    & > tr > th
      border-top  inherit
      padding     0
      line-height $headerHeight
      height      $headerHeight

      &.nx-calendar-first .nx-calendar-header-text
        float           right
        border-left     1px dotted #aaa
        border-radius   4px 0 0 4px
        width           2 * ($hourWidth / 3)

      .nx-calendar-header-text
        text-align      center
        font-size       10px
        font-weight     bold
        border-top      1px dotted #aaa
        border-bottom   1px dotted #aaa
        margin          12px 0 12px 0
        height          20px
        line-height     20px

  .nx-calendar-first
    width $hourWidth

  tbody
    border-top 0px !important

    tr
      .nx-calendar-hours

        padding 0

        .nx-calendar-hour-inner

          padding-right 2px
          height        $cellHeight
          border-top    1px solid $borderColor

          .nx-calendar-hour-clock
            border-bottom   1px dotted $borderColor
            border-left     1px dotted $borderColor
            border-radius   0 0 0 4px
            width           2 * ($hourWidth / 3)
            height          50%
            margin-right    -2px
            padding-right   5px
            float           right
            text-align      right
            font-size       10px
            font-weight     bold

      .nx-calendar-day-container
        border-left   1px solid $borderColor
        position      relative

        .nx-calendar-event-container
          position    absolute
          left        0%
          top         0%
          height      0%
          width       100%
          display     block
          background  red

    &.nx-calendar-colwrapper
      position    absolute
      width       100%
      display     table
      border-top  0

      .nx-calendar-first
        width $hourWidth - 1

      .nx-calendar-spanningwrapper
        padding 0
        margin-top 1px

        .nx-calendar-markercell
          height      $cellHeight
          border-top  1px solid $borderColor

          .nx-calendar-dualmarker
            display       block
            height        50%
            border-bottom 1px dotted $borderColor




/*
.nx-calendar-head {
  margin-bottom   5px;
}

.nx-calendar-hours-head {
  width           60px;
  text-align      center;
}

.nx-calendar-header tr td {
  line-height     20px;
  padding         0;
  margin          0;
}

.nx-calendar tbody tr.nx-calendar-header td {
  padding         8px;
  background      FFF;
}

.nx-calendar-header td .nx-calendar-daylabel {
  border-bottom   1px dotted #eee;
  border-top      1px dotted #eee;
  margin          0 -8px 0 -8px;
  text-align      center;
}

.nx-calendar-weeknumber {
  width           29px;
}

.nx-calendar-weeknumber div {
  padding         0 4px 0px 10px;
  margin          0px -8px 0 0;
  float           right;
  border-top      1px dotted #EEE;
  border-bottom   1px dotted #EEE;
  border-left     1px dotted #EEE;
  border-radius   4px 0 0 4px;
}

.nx-calendar tbody tr td {
  padding         0 5px 0 0;
  font-size       10px;
  font-weight     bold;
  text-align      right;
  vertical-align  bottom;
}

.nx-calendar-day {
  position        relative;
  height          1030px;
}

.nx-calendar .today {
  background- r             #F1F1F1;
}

.nx-now {
  position        relative;
  left            0;
  width           100%;
  top             0;
  height          0;
  border-top      2px solid #FF7F6E;
  overflow        hidden;
  z-index         3;
}

.nx-calendar-colwrapper {
  position        relative;
}

.nx-calendar-spanningwrapper {
  margin          1px 0 0 1px;
  position        anxolute;
  width           100%;
  top             1px;
  z-index         1;
}

.nx-calendar th {
  border-bottom   1px solid #DDD;
}

.nx-calendar-markercell {
  height          42px;
  border-top      1px solid #DDD;
  padding-left    80px;
}

.nx-calendar-day-container {
  position        relative;
}

.nx-calendar-header {
  border-top      1px solid #DDD;
  border-left     1px solid #DDD;
  border-right    1px solid #DDD;
}

.nx-calendar-whole-day-event-list {
  border-right    1px solid #DDD;
}

.nx-calendar- ole-day-event-list td            first-child {
  border-top      0;
}

.nx-calendar-whole-day-event-container {
  opacity         7;
  width           auto;
  padding         2px;
  height          17px;
  overflow        hidden;
  text-overflow   ellipsis;
  -o-text-  w             ellipsis;
  -webkit-text- erflow            ellipsis;
}

.nx-calendar-whole-day-event-container-inner {
  height          17px;
  overflow        hidden;
  border-radius   2px;
  line-height     14px;
}

.nx-calendar-whole-day-event-content {
  text-align      left;
  font-size       1.1em;
  word-wrap       break-word;
  font-weight     bold;
  padding         2px 4px 2px 4px;

  overflow        hidden;
  text-overflow   ellipsis;
  -o-text-  w             ellipsis;
  -webkit-text- erflow            ellipsis;
  white-space     nowrap;
}

.nx-calendar-whole-day-event-container.hovered,
.nx-calendar- ole-day-event-container            hover {
  opacity         9;
  overflow        inherit;
  z-index         9999;
  position        relative;
}
.nx-calendar-whole-day-event-container.hovered .nx-calendar-whole-day-event-container-inner,
.nx-calendar- ole-day-event-container            hover .nx-calendar-whole-day-event-container-inner {
  height          auto;
  overflow        inherit;
}
.nx-calendar-whole-day-event-container.hovered .nx-calendar-whole-day-event-content,
.nx-calendar- ole-day-event-container            hover .nx-calendar-whole-day-event-content {
  white-space     normal;
}

.nx-calendar-whole-day-space {
  border-left     1px solid #DDD;
  border-right    1px solid #DDD;
  border-bottom   1px dotted #DDD;
}

.nx-calendar-hour-clock {
  border-bottom   1px dotted #DDD;
  border-left     1px dotted #DDD;
  border-radius   0 0 0 4px;
  width           40px;
  height          21px;
  margin-right    2px;
  float           right;
  padding-right   4px;
}

.nx-calendar-dualmarker {
  height          21px;
  border-bottom   1px dotted #DDD;
  font-size       1px;
}

.nx-calendar-hours {
  border-left     1px solid #DDD;
  background- r             white;
  color           555;
  padding         1px 0 0;
  text-align      right;
  vertical-align  top;
  padding         8px;
  width           80px;
}

.nx-calendar-hour-inner {
  padding-right   2px;
  height          43px;
}

.nx-calendar-event-container  {
  opacity         7;
  width           70%;
  overflow        hidden;
  z-index         2;
  height          25px;
  position        anxolute;
}

.nx-calendar-event-content {
  text-align      left;
  min-height      100%;
  height          100%;
  word-wrap       break-word;
  font-weight     normal;
  border          1px solid #CCC;
  border          1px solid rgba(0, 0, 0, 0.2);
  -webkit-border- radius            2px;
  -moz-border-  ius             2px;
  border-radius   2px;
  -webkit-box-  dow             0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow      0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-  und-clip            padding-box;
  -moz-background clip             padding;
}

.nx-calendar-event-header {
  font-size       1.2em;
  font-weight     bold;
  line-height     1.2em;
  padding         1px 2px 0 2px;
  border-radius   2px;
  background- r             rgba(0, 0, 0, 0.5);
  color           rgb(255, 255, 255);
  margin          2px;

  text-align      left;
  word-wrap       break-word;
  font-weight     bold;

  overflow        hidden;
  text-overflow   ellipsis;
  -o-text-  w             ellipsis;
  -webkit-text- erflow            ellipsis;
  white-space     nowrap;
}

.nx-calendar-event-body {
  font-size       1.1em;
  margin          4px;
}

.nx-calendar-event-container.hovered,
.nx-calendar- ent-container            hover {
  opacity         9;
  overflow        inherit;
  z-index         1000;
}

.nx-calendar-event-container.hovered .nx-calendar-event-content,
.nx-calendar- ent-container            hover .nx-calendar-event-content {
  height          auto;
}

.nx-calendar-event-container.hovered .nx-calendar-event-header,
.nx-calendar- ent-container            hover .nx-calendar-event-header,
.nx-calendar-event-container.hovered .nx-calendar-event-body,
.nx-calendar- ent-container            hover .nx-calendar-event-body {
  white-space     normal;
}

.nx-calendar-month-row {
  height          120px;
}
*/