<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <section class="widget">
          <h2><strong>About Tobias Kopelke</strong></h2>
          <p>
            Hello there! My name is Tobias and I'm a freelancer, software engineer and dancer from Hamburg, Germany. I find myself writing open source modules for <a href="http://angularjs.org/">angular.js</a> and <a href="http://nodejs.org/">node.js</a> in the time between jobs.
          </p>
        </section>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <section class="widget">
          <div class="row">
            <div class="col-xs-2">
              <a class="icon-img icon-nodejs" href="http://nodejs.org/"><span>node.js</span></a>
            </div>
            <div class="col-xs-10">
              <h4>Node.js</h4>
              <p>
                Node.js has quickly become my weapon of choice for most of the work I am doing. It's fast to setup a custom server. Horizontal scalabilty is fantastic and <a href="http://npmjs.org">npm</a> is one of the most powerful package managers I have seen so far.
              </p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <section class="widget">
          <div class="row">
            <div class="col-xs-10">
              <h4>Yeoman</h4>
              <p>
                Yeoman is your helper to create webapps in an instant. It will install all things you need to develop the product you choose and not have to worry about any boilerplate
              </p>
            </div>
            <div class="col-xs-2">
              <a class="icon-img icon-yeoman" href="http://yeoman.io/"><span>yeoman</span></a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <section class="widget">
          <div class="row">
            <div class="col-xs-2">
              <a class="icon-img icon-bower" href="https://github.com/bower/bower"><span>bower</span></a>
            </div>
            <div class="col-xs-10">
              <h4>Bower</h4>
              <p>
                Bower is for the browser what <a href="http://npmjs.org/">npm</a> is for node. It handles your package needs. When you need to format times and dates. Just use <code>bower install moment</code> and a brilliant date and time library is installed in your working directory for you to include in your layout.
              </p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <section class="widget">
          <div class="row">
            <div class="col-xs-10">
              <h4>Grunt</h4>
              <p>
                Grunt is probably the most important tool at your disposal. <strong>Learn it!</strong> Through the commandline tool grunt and a little Gruntfile.js your projects starts breathing. It handles everything from compiling your assets (coffeescript, sass, etc.)
              </p>
            </div>
            <div class="col-xs-2">
              <a class="icon-img icon-grunt" href="http://gruntjs.com/"><span>grunt</span></a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>