<div class="container">
  <header class="page-header">
    <div class="navbar">
      <div class="logo pull-left">
        <h4><a href="/">Ray<strong>node</strong></a> <small>Tobias <i>Nox</i> Kopelke</small></h4>
      </div>
      <ul class="nav navbar-nav pull-right navbar-menu">
        <li ng-class="{ active: $state.includes('app.home') }">
          <a ui-sref="app.home">Home</a>
        </li>
        <li ng-class="{ active: $state.includes('app.about') }">
          <a ui-sref="app.about">About</a>
        </li>
      </ul>
    </div>
  </header>
</div>
