<div class="container">
  <header class="page-header">
    <div class="navbar">
      <div class="logo pull-left">
        <h4><a href="/">Ray<strong>node</strong></a> - <a href="https://github.com/lordnox/nx-calendar"><small>nx-calendar</small></a></h4>
      </div>
      <ul class="nav navbar-nav pull-right navbar-menu">
        <li ng-class="{ active: $state.includes('calendar.month') }">
          <a ui-sref="calendar.month">Month</a>
        </li>
        <li ng-class="{ active: $state.includes('calendar.week') }">
          <a ui-sref="calendar.week">Week</a>
        </li>
        <li ng-class="{ active: $state.includes('calendar.day') }">
          <a ui-sref="calendar.day">Day</a>
        </li>
        <li ng-class="{ active: $state.includes('calendar.events') }">
          <a ui-sref="calendar.events">Events</a>
        </li>
        <li ng-class="{ active: $state.includes('calendar.settings') }">
          <a ui-sref="calendar.settings"><i class="fa fa-wrench"></i></a>
        </li>
      </ul>
    </div>
  </header>
</div>
