<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <section class="widget">
          <h2><strong>Demo</strong> nx-calendar - Settings</h2>

          <div>
            <h3>Month</h3>
            <pre>{{config.month | json}}</pre>
          </div>

          <div>
            <h3>Week</h3>
            <pre>{{config.week | json}}</pre>
          </div>

          <div>
            <h3>day</h3>
            <pre>{{config.day | json}}</pre>
          </div>

          <div>
            <h3>Events</h3>
            <pre>{{config.events | json}}</pre>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>